<div class="max-w-5xl mx-auto p-6 bg-white shadow-xl rounded-lg mt-6">
  <h2 class="text-2xl font-semibold mb-6 text-center">
    {{ isEditing ? 'Modifier une Prestation' : 'Créer une Prestation' }}
  </h2>

  <form (ngSubmit)="submitForm()" class="space-y-6">
    <div>
      <label class="block font-medium">Nom</label>
      <input type="text" class="w-full border p-2 rounded" [(ngModel)]="prestation.nom" name="nom" required />
    </div>

    <div>
      <label class="block font-medium">Description</label>
      <textarea class="w-full border p-2 rounded" [(ngModel)]="prestation.description" name="description" required></textarea>
    </div>

    <div>
      <label class="block font-medium">Prix Main d'œuvre</label>
      <input type="number" class="w-full border p-2 rounded" [(ngModel)]="prestation.prix_main_oeuvre" name="prix_main_oeuvre" required />
    </div>

    <!-- <h3 class="font-semibold mb-2">Processus {{ i + 1 }}</h3> -->

    <div *ngFor="let processus of prestation.processus; let i = index" class="p-4 border rounded mb-4">
      <h3 class="font-semibold mb-2">Processus {{ i + 1 }}</h3>
      <label class="block text-sm font-semibold mb-1">Nom de l'étape</label>
      <input type="text" [(ngModel)]="processus.nom_etape" name="nom_etape_{{i}}" class="w-full border rounded p-2 mb-2" />

      <label class="block text-sm font-semibold mb-1">Ordre</label>
      <input type="number" [(ngModel)]="processus.ordre" name="ordre_{{i}}" class="w-full border rounded p-2 mb-2" />

      <label class="block text-sm font-semibold mb-1">Pièces associées</label>
      <select
        [(ngModel)]="processus.pieces_possibles"
        name="pieces_{{i}}"
        multiple
        class="w-full border rounded p-2 mb-2 h-32"
      >
        <option *ngFor="let piece of pieces" [value]="piece._id">{{ piece.nom }}</option>
      </select>

      <button type="button" (click)="removeProcessus(i)" class="text-red-500 hover:underline mt-2">Supprimer ce processus</button>
    </div>


    <div class="flex justify-between">
      <button type="button" (click)="addProcessus()" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">
        + Ajouter un processus
      </button>

      <button type="submit" class="bg-green-600 text-white px-6 py-2 rounded hover:bg-green-700">
        {{ isEditing ? 'Mettre à jour' : 'Créer' }}
      </button>
    </div>
  </form>
</div>
