<div class="app-container">
  <!-- Sidebar -->
  <div class="sidebar-menu">
    <a class="logo">
      <h2>
        Garage <span>HB</span>
      </h2>
    </a>
    <ul class="menu">
      <span class="menu-title">MÉCANICIEN</span>

      <li>
        <a routerLink="/mecanicien/dashboard" class="menu-link" routerLinkActive="active">
          <i class="ri-dashboard-line"></i>
          <span>Dashboard</span>
        </a>
      </li>

      <li>
        <a routerLink="/mecanicien/rendez-vous" class="menu-link" routerLinkActive="active">
          <i class="ri-calendar-line"></i>
          <span>Liste Rendez-vous</span>
        </a>
      </li>
    </ul>
  </div>

  <!-- Main content -->
  <main class="main-content">
    <!-- Navbar -->
    <div class="navbar">
      <ul>
        <li class="dropdown">
          <button type="button" class="dropdown-toggle" (click)="toggleDropdown()">
            <div class="avatar">
              <img
                src="https://media.istockphoto.com/id/1495088043/fr/vectoriel/ic%C3%B4ne-de-profil-utilisateur-avatar-ou-ic%C3%B4ne-de-personne-photo-de-profil-symbole-portrait.jpg?s=612x612&w=0&k=20&c=moNRZjYtVpH-I0mAe-ZfjVkuwgCOqH-BRXFLhQkZoP8="
                alt="Avatar"
              />
              <div class="status-indicator online"></div>
              <div class="status-indicator-ping online"></div>
            </div>
            <div class="user-info">
              <h2>{{ user.name || 'Mécanicien' }}</h2>
              <p>{{ user.role || 'Mécanicien' }}</p>
            </div>
          </button>
          <ul *ngIf="isDropdownOpen" class="dropdown-menu">
            <li>
              <a role="menuitem" class="dropdown-link" (click)="logout()">
                <i class="ri-logout-box-line"></i> Log Out
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <!-- Router Outlet -->
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>
